<div id="tasks" class="card flex flex-wrap justify-content-center gap-3">
  <div class="p-2 border-1 surface-border border-round w-15rem">
    <p class="text-center surface-border border-bottom-1">Tarefas em progresso</p>

    <ul class="list-none flex flex-column gap-2 p-0 m-0">
      @for(task of tasks; track task.id){
      <li
        class="p-2 border-round shadow-1"
        pDraggable
        (onDragStart)="dragStart(task)"
        (onDragEnd)="dragEnd()"
      >
        {{ task.title }}
      </li>
      }
    </ul>
  </div>
  <div
    class="p-2 border-1 surface-border border-round w-15rem"
    pDroppable
    (onDrop)="drop()"
  >
    <p class="text-center surface-border border-bottom-1">Tarefas Completas</p>
    @if(selectedTasks.length > 0) {

    <ul class="list-none flex flex-column gap-2 p-0 m-0">
      @for(task of selectedTasks; track task.id){
      <li class="p-2 border-round shadow-1">
        {{ task.title }}
      </li>
      }
    </ul>
    }
  </div>
</div>
