<app-nav></app-nav>
<main>
  <div
    class="w-full h-screen flex flex-column pt-8"
    style="background-color: var(--bg-color)"
  >
    <section>
      <div class="text-center">
        <h1 class="text-6xl font-bold">Status de Tarefas</h1>
        <p class="text-3xl font-light mt-4">Veja o seu progresso</p>
      </div>
      <div class="flex justify-content-center gap-6 mt-8">
        <div
          class="border-1 w-24rem h-12rem border-round-xl p-4 flex flex-column justify-content-between"
        >
          <h2 class="text-2xl font-normal">Tarefas completas</h2>
          <p class="text-5xl font-bold">0</p>
          <p>+5 tarefas</p>
        </div>
        <div
          class="border-1 w-24rem h-12rem border-round-xl p-4 flex flex-column justify-content-between"
        >
          <h2 class="text-2xl font-normal">Tarefas em progresso</h2>
          <p class="text-5xl font-bold">0</p>
          <p>+5 tarefas</p>
        </div>
        <div
          class="border-1 w-24rem h-12rem border-round-xl p-4 flex flex-column justify-content-between"
        >
          <h2 class="text-2xl font-normal">Tarefas incompletas</h2>
          <p class="text-5xl font-bold">0</p>
          <p>+5 tarefas</p>
        </div>
      </div>
    </section>
    <section>
      <div
        class="w-full h-screen flex flex-column align-items-center gap-4 pt-8"
      >
        <h2 class="text-6xl font-bold">Tarefas de Hoje</h2>
      </div>
    </section>
  </div>
</main>
