<nav
  class="w-full h-8rem m-0 align-content-center"
  style="background-color: var(--nav-color)"
>
  <div class="flex align-items-center gap-4 justify-content-between">
    <div class="flex align-items-center gap-2 m-4">
      <p class="text-5xl text-primary">To Do List</p>
      <i class="pi pi-check text-purple-600" style="font-size: 2rem"></i>
    </div>
    <div class="flex align-items-center gap-6 mr-4">
      <a
        routerLink="/home"
        class="text-3xl no-underline cursor-pointer text-primary"
        >Início</a
      >
      <a routerLink="/task" class="text-3xl no-underline text-primary">Tarefas</a>
      <a href="#" class="text-3xl no-underline text-primary"
        >Calendário</a
      >
      <a href="#" class="text-3xl no-underline text-primary">Contato</a>
    </div>
  </div>
</nav>
