<nav class="w-full h-8rem m-0 align-content-center" style="background-color: #050505cc">
  <div class="flex align-items-center gap-4 justify-content-between">
    <div class="flex align-items-center gap-2 m-4">
      <p class="text-5xl">To Do List</p>
      <i class="pi pi-check" style="font-size: 2rem"></i>
    </div>
    <div class="flex align-items-center gap-6 mr-4">
      <a href="/src/app/" class="text-3xl no-underline">Início</a>
      <a href="/src/app/" class="text-3xl no-underline">Tarefas</a>
      <a href="/src/app/" class="text-3xl no-underline">Calendário</a>
      <a href="/src/app/" class="text-3xl no-underline">Notificações</a>
    </div>
  </div>
</nav>
